.downloadCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.title {
    font-size: 1rem;
    margin: 0;
}

.size {
    font-size: 0.8rem;
    color: var(--text-secondary);
}